@{
    ViewData["Title"] = "Index";
}

<h1>Directory</h1>

<input type="text" id="dir" />

<div id="partialModal"></div>

@section scripts{
<script type="text/javascript">

    $('#dir').on('keypress', function(e){
        if(e.which == 13){
            var path = $(this).val();

           $.ajax({
               url: '@Url.Action("Directory", "Directory")',
               type: 'GET',
               cache: false,
               data: { 'path': path },
               success: function (response) {
                   $("#partialModal").html(response);
               },
               error: function () {
                   console.log("error");
               }
           });
        }
    });

</script>
}
